//
//About Batam
//
.page-about {

	.page-main-inner {
		background: #ffffff url( '../images/public/bg/bg-about-page.jpg' ) no-repeat bottom center;
	}

	//Page header
	.page-header {
		span {
			&:after {
				top: 18px;
				right: -153px;
			}
		}
	}

	//
	//Intro
	.about-intro {
		margin-top: 40px;
		padding-top: 35px;
		background: url( '../images/public/bg/bg-about-main.jpg' ) no-repeat 48px 0;

		.about-vision-mission {
			.vimis-item {
				width: 367px;
				padding-top: 58px;
				margin-bottom: 18px;
				margin-left: -26px;
				background: url( '../images/public/line-vision-top.png' ) no-repeat center top;
			}
			.vimis-inner {
				border: 1px solid rgba( 239,70,75,0.5 );
				border-top: 0 none;
				padding: 24px 24px 28px;
				position: relative;
			}
			h2 {
				font-size: 35px;
				line-height: 35px;
				font-family: brandonbold;
				text-transform: uppercase;
				color: #ef6064;
				position: absolute;
				top: -30px;
				left: 24px;
			}
			p {
				font-family: brandonbold;
				font-size: 16px;
			}
		}

		.about-desc {
			margin-top: -200px;
			padding-right: 5%;
			font-size: 20px;
			font-family: brandonlight;
			color: #252525;
			position: relative;
			z-index: 1;

			p {
				margin-bottom: 46px;
				line-height: 29px;

				&:last-child {
					margin-bottom: 0;
				}
				&.important {
					color: #ed595a;
				}
			}
		}
	}

	//
	//competitive-info
	.competitive-info {
		margin-left: 125px;
		margin-top: -132px;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 418px;
			height: 2px;
			background-color: rgba( 236,29,37,0.4 );
			position: absolute;
			top: 430px;
			left: -165px;
		}

		&-inner {
			background-color: rgba( 237,47,53,0.8 );
			padding: 200px 10% 74px 24%;
		}
		h2 {
			font-size: 80px;
			line-height: 88px;
			font-family: brandonbold;
			color: #ffffff;
			margin: 0 0 46px;
			position: relative;
			text-transform: uppercase;

			&:before {
				content: "";
				width: 70px;
				height: 14px;
				background: url( '../images/public/icon-menu-hv4.png' ) no-repeat center center;
				position: absolute;
				left: -24%;
				top: 10px;
			}

			span:last-child {
				position: relative;

				&:after {
					content: "";
					width: 48px;
					height: 55px;
					background: url( '../images/public/icon-arrow-about.png' ) no-repeat center center;
					position: absolute;
					right: -78px;
					top: 28px;
				}
			}
		}

		p {
			font-size: 26px;
			line-height: 34px;
			font-family: brandonbold;
			margin-right: 5%;
			color: #ffffff;
		}
	}
	.competitive-list {
		margin-top: 90px;
	}

	//
	//Masterplan
	.masterplan {
		margin-top: 50px;

		&-map {
			text-align: center;

			h2 {
				font-size: 80px;
				line-height: 80px;
				font-family: brandonbold;
				text-transform: uppercase;
				color: #e55459;
				margin: 0 0 78px;
			}
			h3 {
				display: inline-block;
				font-size: 48px;
				line-height: 48px;
				font-family: brandonbold;
				text-transform: uppercase;
				color: #ffffff;
				background-color: #e55459;
				padding: 15px 120px;
				margin: 0 0 42px;
			}
			img {
				max-width: 100%;
			}
		}

		//List
		&-list {
			margin-top: 110px;

			.masterplan-detail {
				margin-bottom: 24px;
				overflow: hidden;
				padding-left: 36px;
				padding-right: 0;

				&:nth-child(odd){
					padding-right: 36px;
					padding-left: 0;
				}

				&-inner {
					position: relative;
				}

				&:hover {
					.masterplan-detail-info {
						@include transform(translateY( 0 ));
					}
				}

				img {
					width: 100%;
				}

				&-info {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: rgba( 237,47,53,0.8 );
					text-align: center;
					@include transition( all 0.6s );
					@include transform(translateY( -150% ));

					h3 {
						font-size: 70px;
						line-height: 70px;
						font-family: brandonbold;
						text-transform: uppercase;
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						margin-top: -35px;
						text-align: center;

						a {
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}

//
//About Batam
//
.page-about-batam {

	.page-main-inner {
		background-color: #202527;
		color: #ffffff;
	}

	.page-about-batam-main {
		background-color: #ffffff;
	}

	//Page header
	.page-header {
		span {
			&:after {
				display: none;
			}
		}
	}

	//
	//Batam top image
	.batam-welcome {
		text-align: right;
		margin-top: 60px;

		img {
			display: inline-block;
		}
	}

	//
	//Batam map
	.batam-map {
		margin: -380px 0 80px;
	}

	//
	//Info bottom
	.about-info-bottom {

		.about-info-middle {
			text-align: right;

			.about-info {
				text-align: left;
				background-color: rgba( 237,47,53,.7 );
				padding: 60px 10% 120px 80px;
				display: inline-block;
				margin-left: 5%;
				margin-top: -125px;
			}

			.about-info-main h2,
			.about-info-content,
			.number {
				color: #ffffff;
			}
		}

		.container {
			.about-info:last-child {
				margin-bottom: 0;
			}
			.number {
				color: #be4b50;
			}
			.about-info-main {
				.about-info-content {
					color: #ffffff;
				}
			}
		}
	}

}

//
//About info
.about-info {
	margin-bottom: 80px;

	.number {
		font-size: 170px;
		line-height: 126px;
		font-family: brandonbold;
		color: #f49395;
		float: left;
	}
	.about-info-main {
		margin-left: 130px;

		h2 {
			font-size: 30px;
			line-height: 34px;
			font-family: brandonbold;
			color: #f06367;
			text-transform: uppercase;
			margin: 0 0 24px;
		}
		.about-info-content {
			font-size: 20px;
			line-height: 24px;
			color: #252525;

			p {
				margin-bottom: 24px;

				&:last-child {
					margin-bottom: 0;
				}
			}
			ol {
				margin-bottom: 24px;
				margin-left: 21px;
			}
		}
	}
}

//
//Milestone page style
//
.page-milestone {
	position: relative;

	.page-main-inner {
		background: #ffffff url( '../images/public/bg/bg-milestone-page.jpg' ) no-repeat bottom center;
	}

	.milestones-list {
		margin-top: 170px;

		dl {
			font-family: brandonbold, sans-serif;

			dt {
				font-size: 170px;
				line-height: 170px;
				color: #f49395;
			}

			dd {
				margin: 15px 0 70px 120px;
				font-size: 30px;
				line-height: 30px;
				color: #676767;
				text-transform: uppercase;
			}
		}
	}

	.ornament-left {
		position: absolute;
		top: 270px;
		left: 0;
		background: url("../images/public/ornamen-left.png") no-repeat;
		width: 318px;
		height: 637px;
		pointer-events: none;
	}

	.ornament-right {
		position: absolute;
		top: 1200px;
		right: 0;
		background: url("../images/public/ornamen-right.png") no-repeat;
		width: 318px;
		height: 637px;
		pointer-events: none; 
	}
} 



//Responsive
//

// < 991
@media (max-width: 991px ) {

	//About
	//
	.page-about {
		.about-intro {
			background-position: 0 0;

			.about-vision-mission {
				.vimis-item {
					width: 100%;
					background-image: none;
					padding-top: 0;
				}
				.vimis-inner {
					border-top: 1px solid rgba(239, 70, 75, 0.5);
				}

				h2 {
					position: static;
					margin-bottom: 10px;
				}
			}

			.about-desc {
				margin-top: 0;
				padding-right: 0;
				line-height: 26px;

				p {
					margin-bottom: 20px;
				}
			}
		}

		//
		//competitive-info
		.competitive-info {
			margin-left: 0;
			margin-top: 40px;

			&-inner {
				padding: 70px 30px 74px 20%;
			}

			h2 {
				&:before {
					left: -18%;
				}
			}
		}
		.competitive-list {
			margin-top: 30px;
		}
	}
}

// < 767
@media (max-width: 767px ) {

	//About
	//
	.page-about {
		//
		//competitive-info
		.competitive-info {
			&-inner {
				padding-left: 30px;
			}

			h2 {
				font-size: 64px;
				line-height: 64px;

				&:before {
					left: 0;
					top: -40px;
				}
			}
		}

		//
		//Masterplan
		.masterplan {
			margin-top: 20px;

			&-map {

				h2 {
					font-size: 62px;
					line-height: 62px;
					margin-bottom: 20px;
				}
				h3 {
					display: block;
					font-size: 32px;
					line-height: 32px;
					padding: 15px 20px;
					margin-bottom: 20px;
				}
			}
		}
	}

	//
	//About Batam
	//
	.page-about-batam {

		//Page header
		.page-header {
			span {
				&:after {
					display: block;
				}
			}
		}

		.batam-welcome {
			img {
				max-width: 100%;
			}
		}

		.batam-map {
			margin-top: -120px;

			img {
				max-width: 100%;
			}
		}

		//
		//Info bottom
		.about-info-bottom {
			.about-info-middle {

				.about-info {
					padding: 40px 30px;
					margin-left: 0;
				}
			}
		}
	}

	//Milestone
	//
	.page-milestone {
		.milestones-list {
			margin-top: 60px;

			dl {
				dt {
					font-size: 80px;
					line-height: 80px;
				}

				dd {
					margin: 15px 0 30px 0px;
					font-size: 20px;
					line-height: 20px;
				}
			}
		}
	}
}

// < 479
@media (max-width: 479px ) {

	//
	//About
	.page-about {

		//
		//competitive-info
		.competitive-info {
			h2 {
				font-size: 48px;
				line-height: 48px;
			}
		}

		//
		//Masterplan
		.masterplan {
			&-map {
				h2 {
					font-size: 38px;
					line-height: 38px;
				}
				h3 {
					font-size: 24px;
					line-height: 24px;
				}
			}
		}

	}

	//
	//About info
	.about-info {
		margin-bottom: 40px;

		.number {
			font-size: 90px;
			line-height: 70px;
		}
		.about-info-main {
			margin-left: 80px;
		}
	}
}