//
//Career page style
//
.page-career {
	
	.page-main-inner {
		background: #ffffff url( '../images/public/bg/bg-career-page.jpg' ) no-repeat bottom center;
	}

	//Page header
	.page-header {
		span {
			&:after {
				top: 18px;
				right: -64px;
			}
		}
	}

	.career-info {
		margin: 80px 0;
		padding-bottom: 70px;
		position: relative;

		&-main {
			position: absolute;
			top: 120px;
			left: 0;
			right: 0;
		}
		&-inner {
			margin-left: 480px;
			background-color: rgba( 237,47,53,.7 );
			padding: 80px 10% 60px 150px;
			color: #ffffff;
			position: relative;

			&:after {
				content: "";
				width: 70px;
				height: 14px;
				background: url( '../images/public/icon-menu-hv4.png' ) no-repeat center center;
				position: absolute;
				top: 120px;
				left: 24px;
			}

			h3 {
				font-size: 68px;
				line-height: 68px;
				font-family: brandonbold;
				text-transform: uppercase;
				margin: 0 0 20px;
			}

			p {
				font-size: 20px;
				line-height: 28px;
				font-family: brandonlight;
			}
		}
	}

	.careers-list {
		.list-nav {
			margin-left: -24px;
			margin-right: -24px;

			a {
				font-size: 16px;
			}
		}
		.career {
			margin-bottom: 32px;

			h2 {
				font-size: 26px;
				line-height: 20px;
				font-family: brandonbold;
				color: #f1595d;
				margin: 0 0 12px;
			}
			.date-info {
				font-size: 16px;
				font-family: brandonlight;
				color: #555555;
				margin: 0 0 10px;
			}
			.info {
				font-size: 20px;
				line-height: 30px;
				font-family: brandonlight;
				color: #252525;
				margin: 0;
			}

			a {
				color: #f1595d;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}


//Responsive
//

// < 991
@media (max-width: 991px ) {

	.page-career {
		.career-info {
			&-inner {
				margin-left: 260px;
			}
		}
	}
}

// < 767
@media (max-width: 767px ) {

	.page-career {
		.career-info {
			margin: 30px 0;
			padding-bottom: 20px;

			&-main {
				position: static;
				margin-top: -220px;
			}
			&-inner {
				margin-left: 30px;
			}
		}

		.list-nav {
			margin: 10px 0 30px;
		}
	}
}

// < 479
@media (max-width: 479px ) {

	.page-career {
		.career-info {
			&-inner {
				margin-left: 0;
				padding: 60px 20px 50px;

				&:after {
					top: 30px;
					left: 20px;
				}
			}
		}
	}
}