//
//Contact page style
//
.page-contact {
	position: relative;

	//Page header
	.page-header {
		span {
			&:after {
				right: -61px;
			}
		}
	}

	.page-main-inner {
		background: #ffffff url( '../images/public/bg/bg-contact-page.jpg' ) no-repeat bottom center;
	}
	.contact-info {
		padding-top: 100px;
		margin-right: 70px;
		margin-left: 30px;
		font-size: 28px;
		line-height: 36px;
		font-family: brandonbold, sans-serif;
		color: #707070;  
	}

	.page-title {
		padding-bottom: 100px;
	}

	.contact-detail {
		font-size: 30px;
		line-height: 38px;
		background-color: #f26d71;
		@include background-image(linear-gradient(left, #f26d71 50%, #ffffff 50%));
		color: #ffffff;

		>.container {
			background-color: #f26d71;
			padding: 60px 0;
			position: relative;

			&:after {
				content: "";
				width: 70px;
				height: 14px;
				background: url( '../images/public/icon-menu-hv4.png' );
				position: absolute;
				top: 50%;
				margin-top: -7px;
				right: 120px;
			}
		}

		h3 {
			font-family: brandonbold;
			margin: 0 0 4px;
			text-transform: uppercase;
		}

		.address {
			margin-bottom: 58px;
		}
	}

	.contact-email {
		margin-top: 50px;

		.email {
			border: 3px solid #bbbbbb;
			padding: 16px 42px;
			color: #f26d71;
			font-size: 30px;
			line-height: 30px;
			font-family: brandonbold;

			p {   
				margin-bottom: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.contact-form {
		margin-top: 100px;

		>.container {
			>p {
				font-family: brandonlight;
				font-size: 20px;
			}
		}

		form {
			margin-top: 58px;

			label {
				font-family: brandonlight;
				font-size: 20px;
				display: block;
				margin-bottom: 18px;
			}

			.form-field {
				margin-bottom: 38px;
			}

			.form-control {
				width: 100%;
				border: 3px solid #b7b9ba;
				background-color: rgba( 255,255,255,.8 );
				color: #343434;
				padding: 0 10px;

				&[type="text"] {
					height: 44px;
					line-height: 44px;
				}
			}
			textarea.form-control {
				padding: 15px 10px;
				height: 132px;
			}

			.form-submit {
				button {
					border: 0 none;
					background-color: transparent;
					font-size: 20px;
					font-family: brandonbold;
					text-transform: uppercase;
					color: #ed1c24;

					img {
						margin-left: 16px;
						position: relative;
						top: 2px;
					}
				}
			}
		}
	}
}