//
//Gallery page style
//
.page-gallery {
	position: relative;
	overflow: hidden;

	//Page header
	.page-header {
		span {
			&:after {
				right: -93px;
			}
		}
	}

	.gallery-info {
		padding-top: 100px;
		margin-left: 100px;
		margin-right: 100px;
		font-size: 20px;
		line-height: 24px;
		font-family: brandonlight, sans-serif;
		color: #707070;  
	}

	.album-list {
		margin-top: 110px;

		.album-item {
			h3 {
				font-size: 20px;
				line-height: 20px;
				font-family: brandonbold;
				color: #555555;
				margin: 20px 0 0;
			}
		}
	}


	.album-detail {
		margin-top: 78px;
		@include background-image(linear-gradient(left, #eaeaea 50%, #ffffff 50%));

		>.container {
			background-color: #eaeaea;
			position: relative;
			padding-top: 90px;
			padding-bottom: 30px;

			&:before {
				content: "";
				width: 485px;
				height: 383px;
				background: url( '../images/public/gallery/bg-gallery-top.png' ) no-repeat center center;
				position: absolute;
				top: -322px;
				right: -409px;
			}
			&:after {
				content: "";
				width: 485px;
				height: 383px;
				background: url( '../images/public/gallery/bg-gallery-bottom.png' ) no-repeat center center;
				position: absolute;
				bottom: -322px;
				right: -409px;
			}
		}

		//Info
		&-info {
			color: #363636;
			font-family: brandonbold;

			h2 {
				font-size: 64px;
				line-height: 68px;
				color: #f16366;
				margin: 0 0 32px;
			}
			h3 {
				font-size: 38px;
				line-height: 42px;
				text-transform: uppercase;
				margin: 0;
			}
			h4 {
				font-size: 40px;
				line-height: 46px;
				margin: 0 0 20px;
			}
			p {
				font-size: 26px;
				line-height: 32px;
				font-family: brandonlight;
				margin: 0;
			}
		}

		.album-photo {
			margin-top: 46px;
			position: relative;
			width: 890px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			li {
				p {
					margin: 25px 0 0;
					font-size: 20px;
					font-family: brandonlight;
					color: #363636;
				}
			}
		}

		.flex-direction-nav {
			.flex-prev,
			.flex-next {
				width: 22px;
				height: 22px;
				text-indent: -9999px;
				position: absolute;
				top: 50%;
				margin-top: -11px;
			}
			.flex-prev {
				background: url( '../images/public/icon-arrow-left.png' ) no-repeat center center;
				left: -50px;
			}
			.flex-next {
				background: url( '../images/public/icon-arrow-right.png' ) no-repeat center center;
				right: -25px;
			}
		}
	}

	.album-photo-nav {
		margin-top: 28px;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 15px;
			}
		}
	}
}


//Responsive
//

// < 991
@media (max-width: 991px ) {

	.page-gallery {

		.album-list {
			margin-top: 100px;

			.album-item {
				margin-bottom: 20px;
			}
		}
	}
}

// < 767
@media (max-width: 767px ) {

	.page-gallery {

		.gallery-info {
			padding-top: 50px;
			margin-left: 50px;
			margin-right: 50px;
		}

		.album-list {
			margin-top: 50px;
		}

		.album-detail {
			.album-photo {
				width: 100%;

				li {
					width: 100%;

					img {
						width: 100%;
					}
				}
			}
		}

	}
}

// < 479
@media (max-width: 479px ) {

	.page-gallery {

		.album-list {

			.album-item {
				float: none;
				width: 100%;
			}
		}
	}

}