//
//General Style
//

//Menu mobile
.menu-mobile {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #E55459;
	width: 280px; 
	z-index: 99999990;
	@include transform( translateX( -150% ));
	@include transition( all 0.6s );

	&.active {
		@include transform( translateX( 0 ));
	}

	&-header {
		height: 80px;
		line-height: 80px;
		padding: 10px 30px;
		border-bottom: 1px solid rgba(255,255,255,.6);
	}

	&-nav {
		padding: 10px 40px 20px 30px;
		list-style: none;
		margin: 0;

		li {
			a {
				display: block;
				padding: 14px;
				border-bottom: 1px solid rgba(255,255,255,.3);
				font-size: 14px;
				text-transform: uppercase;
				color: #ffffff;

				&:hover {
					background-color: rgba(0,0,0,.1);
				}
			}
		}
	}

	&-close {
		position: absolute;
		top: 15px;
		right: 10px;

		a {
			display: inline-block;
			width: 28px;
			height: 28px;
		}
		img {
			width: 28px;
			height: 28px;
		}
	}
}

//Responsive
//
//Header

// < 991
@media (max-width: 991px ) {
	//
	//Header page
	//
	header,
	.header-page {
		.wrHeader {
			position: relative;
			padding-top: 70px;
		}

		.menu {
			bottom: -10px;
		}

		.col-3 {
			vertical-align: middle!important;
		}

		.col-3:nth-child(1),
		.col-3:nth-child(3) {
			width: 50%!important;
		}
		.col-3:nth-child(1) {
			li:last-child {
				a {
					margin-right: 15px;
				}
			}
		}
		.col-3:nth-child(3) {
			li:first-child {
				a {
					margin-left: 15px;
				}
			}
		}

		.col-3:nth-child(2) {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			text-align: center;
			width: 100%!important;
		}
	}
	.header-page {
		.logo {
			margin-top: 0;
		}
	}

	//
	//Footer page
	//
	footer,
	.footer-page {
		.menuFooter {
			position: relative;
			padding-top: 110px;

			.col-3:nth-child(2) {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				text-align: center;
				width: 100%!important;
			}

			.col-3 {
				a {
					padding-right: 8px;
				}

				.copyright,
				.tos {
					display: none;
				}
			}

			.col-3:nth-child(1),
			.col-3:nth-child(3) {
				width: 50%!important;
			}
			.col-3:nth-child(1) {
				text-align: right;
 
				li:last-child {
					a {
						padding-right: 16px;
					}
				}
			}
			.col-3:nth-child(3) {
				text-align: left;

				li:first-child {
					a {
						padding-left: 16px;
					}
				}
			}
		}

		.footer-mobile {
			display: block!important;
			text-align: center;

			.copyright {
				margin-bottom: 12px;
			}
		}
	}

	//
	//Menu fix
	//
	.menuFix {
		.wrHeader {
			position: relative;
			padding-left: 165px;
			height: 79px;
		}
		.col-3:nth-child(2) {
			position: absolute;
			top: 0;
			left: 20px;
			width: auto!important;
		}

		.col-3:nth-child(1),
		.col-3:nth-child(3) {
			display: none;
		}

		.menu-mobile-toggle {
			display: block!important;
			position: absolute;
			top: 14px;
			right: 20px;

			a {
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}
			}

			img {
				width: 38px;
				height: 38px;
			}
		}
	}

	#center.page {
		padding-top: 190px;
	}

	.page-info {
		margin-left: 220px;
		margin-right: 30px;
	}
}

// < 767
@media (max-width: 767px ) {
	//
	//Header page
	//
	header,
	.header-page {
		.wrHeader {
			padding-top: 0;
			padding-left: 130px;
		}

		.menu {
			bottom: -10px;
		}

		.col-3:nth-child(1),
		.col-3:nth-child(3) {
			display: none!important;
		}

		.col-3:nth-child(2) {
			top: 0;
			left: 20px;
			right: auto;
			width: auto!important;
		}

		.menu-mobile-toggle {
			display: block!important;
			position: absolute;
			top: 14px;
			right: 20px;

			a {
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}
			}

			img {
				width: 38px;
				height: 38px;
			}
		}
	}
 
	#center.page {
		padding-top: 120px; 
	} 

	//
	//Page header
	.page-header {
		.page-title {
			padding-top: 20px;
			padding-bottom: 62px;
			font-size: 68px;
			line-height: 72px;
			text-align: center;

			span {
				&:after {
					width: 90px;
					height: 2px;
					top: auto;
					right: auto;
					bottom: -25px;
					left: 50%;
					margin-left: -45px;
				}
			}
		}
	}

	.page-info {
		margin-left: 30px;
		text-align: center;
	}

	.page-main {
		padding-top: 38px;
	}
	footer .glanceFooter,
	.footer-page .glanceFooter {
		margin-top: -39px;
	}
} 


// < 479
@media (max-width: 479px ) {

	//
	//Page header
	.page-header {
		.page-title {
			font-size: 48px;
			line-height: 52px;
		}
	}
}