//
//News page style
//
.page-news {
	position: relative;

	.page-main-inner {
		background: #ffffff url( '../images/public/bg/bg-news-page.jpg' ) no-repeat bottom center;
	}

	//Page header
	.page-header {
		span {
			&:after {
				right: -200px;
			}
		}
	}

	.news-info {
		padding-top: 100px;
		margin-left: 100px;
		margin-right: 100px;
		font-size: 20px;
		line-height: 24px;
		font-family: brandonlight, sans-serif;
		color: #707070;  
	}

	//
	//News Highlight
	.news-highlight {
		margin-top: 60px;
		position: relative;

		.news-image {
			text-align: right;
		}

		.news-date {
			margin-right: 10%;
			margin-top: -250px;
			font-size: 20px;
			font-family: brandonbold;
			color: #555555;
			position: relative;
			z-index: 1;

			span {
				display: block;
				padding-left: 20%;
			}
		}

		.news-main {
			margin-right: 10%;
			position: relative;
			z-index: 1;
			margin-top: 20px;

			&-inner {
				background-color: rgba( 237,47,53,0.7);
				padding: 36px 60px 44px 20%;
				color: #ffffff;
			}
		}

		.news-header {
			margin-bottom: 60px;

			h2 {
				font-size: 38px;
				line-height: 40px;
				font-family: brandonbold;
				text-transform: uppercase;
				margin: 0;
			}
			h3 {
				font-size: 40px;
				line-height: 40px;
				font-family: brandonbold;
				margin: 0;
			}
			p {
				font-size: 26px;
				line-height: 32px;
				font-family: brandonlight;
				margin: 0;
			}
		}

		.news-content {
			font-size: 26px;
			line-height: 32px;
			font-family: brandonbold;

			p {
				margin: 0;
			}
		}

		.news-link {
			font-size: 15px;
			line-height: 15px;
			font-family: brandonbold;
			margin-top: 64px;
			text-align: right;

			a {
				color: #ffffff;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	//
	//News list
	.news-list {
		margin-top: 95px;

		.news {
			padding-left: 30px;
			margin-bottom: 90px;
			position: relative;

			&:nth-child(2n+1) {
				padding-right: 30px;
				padding-left: 15px;
			}

			&:nth-child(2n+2) {
				&:after {
					content: "";
					width: 70px;
					height: 14px;
					background: url( '../images/public/zigzag-red.png' ) no-repeat center center;
					position: absolute;
					right: -25%;
					bottom: -45px;
				}
			}
			&:last-child {
				&:after {
					display: none;
				}
			}

			&-image {
				margin-bottom: 42px;

				img {
					width: 100%;
				}
			}

			&-date {
				font-size: 16px;
				font-family: brandonbold;
				color: #555555;
				margin-bottom: 24px;
			}

			&-title {
				font-size: 26px;
				font-family: brandonbold;
				text-transform: uppercase;
				margin-bottom: 24px;

				a {
					color: #f16366;

					&:hover {
						color: #d65658;
					}
				}
			}

			&-content {
				font-size: 20px;
				line-height: 30px;
				font-family: brandonlight;
				color: #333333;
				margin-bottom: 28px;
			}

			&-link {
				a {
					color: #f16366;

					&:hover {
						color: #d65658;
						text-decoration: underline;
					}
				}
			}
		}
	}

	//
	//Pagination
	.pagination {
		margin-top: 15px;
		text-align: right;

		.links {
			display: inline-block;
			border: 3px solid #c1c1c1;
			padding: 24px 30px;

			a {
				display: inline-block;
				font-size: 16px;
				line-height: 16px;
				font-family: brandonbold;
				color: #333333;
				margin-right: 24px;

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					color: #f16366;
				}
			}
		}
	}
}

//
//News detail
//
.page-news-detail {

	.news-header {
		margin-top: 100px;

		.news-date {
			font-size: 20px;
			color: #a1a1a1;
			margin-bottom: 40px;
		}

		.news-subtitle {
			font-size: 30px;
			line-height: 30px;
			font-family: brandonbold;
			color: #363636;
			margin-bottom: 10px;
			margin-right: 20%;
		}

		.news-title {
			font-size: 60px;
			line-height: 60px;
			font-family: brandonbold;
			text-transform: uppercase;
			color: #f16366;
			margin-bottom: 40px;
			margin-right: 20%;
		}

		.news-image {
			img {
				max-width: 100%;
			}
		}
	}

	.news-highlight {
		margin-left: 5%;
		margin-top: -300px;
		position: relative;
		z-index: 1;

		&-inner {
			background-color: rgba( 237,47,53,0.7);
			color: #ffffff;
			padding: 42px 24% 100px 6%;
		}

		p:first-child {
			font-size: 30px;
			line-height: 38px;
			font-family: brandonlight;
			margin: 0 0 25px;
		}

		p:last-child {
			font-size: 26px;
			line-height: 32px;
			font-family: brandonbold;
			margin: 0;
		}
	}

	.news-content {
		margin-top: 60px;
		font-size: 26px;
		line-height: 32px;
		font-family: brandonlight;
		padding-bottom: 54px;
		position: relative;

		&:after {
			content: "";
			height: 14px;
			width: 70px;
			background: url( '../images/public/zigzag-red.png' ) no-repeat center center;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -35px;
		}

		p {
			margin-bottom: 42px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	//
	// News bottom
	.news-bottom {
		margin-top: 40px;
		position: relative;

		h3 {
			font-size: 26px;
			font-family: brandonbold;
			color: #111111;
			margin: 0 0 36px;
		}

		.news-history {
			background-color: #ebebeb;
			padding: 42px 8% 80px 16%;
			position: absolute;
			top: -42px;
			left: 0;
			z-index: 10;

			.history {
				margin-bottom: 12px;

				.year {
					font-size: 26px;
					line-height: 24px;
					font-family: brandonbold;
					color: #636363;
					margin: 0;
				}
				.month-list {
					display: none;
					list-style: none;
					margin: 0 0 0 36px;
					padding: 0;
					font-size: 26px;
					font-family: brandonlight;
					color: #636363;

					a {
						color: #636363;

						&:hover {
							text-decoration: underline;
						}
					}
				}
				&.active {
					.year {
						color: #f06367;
					}
					.month-list {
						display: block;

						a {
							color: #f06367;
						}
					}
				}
			}
		}

		.news-recomended {
			.news {
				margin-bottom: 42px;

				&-image {
					margin-bottom: 22px;

					img {
						max-width: 100%;
					}
				}

				&-date {
					font-size: 16px;
					font-family: brandonbold;
					color: #555555;
					margin-bottom: 16px;
				}

				&-title {
					font-size: 18px;
					font-family: brandonbold;
					text-transform: uppercase;
					margin: 0;

					a {
						color: #f16366;

						&:hover {
							color: #d65658;
						}
					}
				}
			}
		}
	}
}


//Responsive
//

// < 991
@media (max-width: 991px ) {

	.page-news {

		//Page header
		.page-header {
			span {
				&:after {
					right: -50px;
				}
			}
		}

		.news-info {
			padding-top: 50px;
			margin-left: 50px;
			margin-right: 50px;
		}

		//
		//News Highlight
		.news-highlight {
			margin-top: 40px;

			.news-date {
				margin-top: -400px;
			}
		}

		.pagination {
			text-align: left;
		}
	}
}

// < 767
@media (max-width: 767px ) {

	.page-news-detail {

		.news-header {
			margin-top: 30px;
		}

		//
		// News bottom
		.news-bottom {
			margin-top: 20px;

			.news-history {
				padding: 40px 30px;
				position: static;
				margin-bottom: 30px;
			}
			
		}
	}
}