//
//General page
//


.body-page {
	background-color: #f4f4f4;
}
.header-page {
	top: 17px;

	.logo img {
		width: 110px;
		height: auto; 
	}
	.menu {
		bottom: 0;

		li {
			border-top-color: #111111;

			a {
				color: #111111;

				&:after {
					background-image: url("../images/public/icon-menu-hv2.png");
				}
			}
		}
	}
}
#center.page {
	padding-top: 145px;
	background-color: #ebebeb;
}

//
//Main
//
.page-main {
	position: relative;
	z-index: 100;
	top: -43px;
	padding-top: 44px;
	background: transparent url("../images/public/bg/bg-footer.png") no-repeat center top;
	-webkit-background-size: contain;
			 -o-background-size: contain;
					background-size: contain;

	&-inner {
		background-color: #ffffff;
		padding-bottom: 120px;
	}
}
//Page header
.page-header {
	.page-title {
		font-size: 88px;
		line-height: 106px;
		font-weight: bold;
		color: #f04950;
		padding: 110px 0 24px;
		text-transform: uppercase;

		span {
			display: inline-block;
			position: relative;

			&:after {
				content: "";
				width: 2px;
				height: 56px;
				background-color: #e55459;
				position: absolute;
				top: 0;
				right: -20px;
			}
		}
	}
}


.page-info {
	margin-left: 280px;
	margin-right: 120px;
	font-family: brandonlight, sans-serif;
	font-size: 20px;
	line-height: 48px;
	color: #f16366;
	padding-bottom: 60px;
	position: relative;

	&:after {
		content: "";
		height: 14px;
		width: 70px;
		background: url( '../images/public/icon-menu-hv3.png' ) no-repeat center center;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -35px;
	}
}

//
//Footer
//
.footer-page {
	background-image: url("../images/public/bg/bg-footer2.png");

	.glanceFooter {
		margin-top: -75px;
		padding-top: 54px;
	}
}

//
//List nav
//
.list-nav {
	margin: 80px 0 60px;
	display: inline-block;
	border: 3px solid #c5c5c5;
	padding: 25px;

	a {
		display: inline-block;
		text-transform: uppercase;
		font-size: 18px;
		font-family: brandonbold, sans-serif;
		color: #e55459;
		padding: 0 16px;
		border-right: 1px solid #e55459;

		&.active,
		&:hover {
			color: #363636;
		}

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			border-right: 0 none;
		}
	}
}

//
//Import page style
@import "service"; 
@import "partner"; 
@import "about"; 
@import "contact"; 
@import "career"; 
@import "gallery"; 
@import "product"; 
@import "news"; 

//
//Import general style
@import "general";