//
//Partners page style
//
.page-partners {
	position: relative;

	//Page header
	.page-header {
		span {
			&:after {
				right: -16px;
			}
		}
	}

	.page-info {
		margin-right: 30px;
	}

	.partners-list {
		.partner-item {
			margin-bottom: 40px;
			text-align: center;
		}
	}
}