//
//Product page style
//
.page-product {

	//Page header
	.page-header {
		span {
			&:after {
				right: 12px;
			}
		}
	}

	.product-intro {
		margin: 100px auto 0;
		width: 780px;
		border: 3px solid #cecece;
		padding: 30px;
		text-align: center;
		font-size: 20px;
		line-height: 26px;
		font-family: brandonbold;
		color: #353535;
	}

	.product-industrial {
		margin-top: 180px;
		position: relative;

		.product-image {
			position: relative;

			.container {
				position: relative;
			}

			h2 {
				font-size: 50px;
				line-height: 54px;
				font-family: brandonbold;
				text-transform: uppercase;
				color: #eb6065;
				position: absolute;
				top: 64px;
				left: 64px;
			}
		}

		.product-info {
			position: absolute;
			top: -90px;
			right: 0;
			width: 736px;

			&-inner {
				background-color: rgba( 254,101,112,0.7);
				padding: 168px 230px 30px 68px;
				font-size: 20px;
				line-height: 30px;
				font-family: brandonlight;
				color: #ffffff;

				p {
					margin-bottom: 25px;
				}
			}
		}
	}

	.product-residential {
		background: url( '../images/public/products/product-residential.jpg' ) no-repeat bottom center;
		margin-top: 64px;
		padding: 110px 0 60px;

		.product-info-main {
			h2 {
				font-size: 50px;
				line-height: 54px;
				font-family: brandonbold;
				text-transform: uppercase;
				color: #eb6065;
				margin-left: 64px;
			}
			p {
				font-size: 24px;
				line-height: 28px;
				color: #252525;
				text-decoration: underline;
				width: 430px;
			}
		}

		.product-info-secondary {
			margin-top: 45px;

			.container {
				position: relative;
				left: 32px;
			}

			.product-info-inner {
				background-color: rgba( 237,47,53,0.7);
				margin-right: 5%;
				padding: 70px 0 30px;
				color: #ffffff;
			}

			.info {
				h3 {
					font-size: 25px;
					font-family: brandonbold;
					text-transform: uppercase;
					margin: 0 0 40px;
					padding-bottom: 30px;
					position: relative;

					&:after {
						content: "";
						width: 52px;
						height: 1px;
						border-bottom: 1px dashed #ffffff;
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}

				p {
					font-size: 20px;
					line-height: 28px;
					font-family: brandonlight;
				}
			}
		}
	}


	.product-commercial {
		margin-top: 105px;
		position: relative;

		&:before {
			content: "";
			width: 2px;
			height: 430px;
			background-color: rgba( 237,47,53,0.7);
			opacity: 0.6;
			position: absolute;
			left: 48%;
			top: -230px;
			z-index: 10;
		}

		.product-image {
			position: relative;

			.container {
				position: relative;
			}

			h2 {
				font-size: 50px;
				line-height: 54px;
				font-family: brandonbold;
				text-transform: uppercase;
				color: #eb6065;
				position: absolute;
				top: 64px;
				left: 64px;
			}
		}

		.product-info {
			position: absolute;
			top: 270px;
			left: 35%;
			right: 10%;

			&-inner {
				background-color: rgba( 237,47,53,0.7);
				padding: 96px 15% 80px 52px;
				font-size: 20px;
				line-height: 30px;
				font-family: brandonlight;
				color: #ffffff;

				p {
					margin-bottom: 25px;
				}
			}
		}
	}
}



//Responsive
//

// < 991
@media (max-width: 991px ) {

	.page-product {

		.product-intro {
			margin-top: 50px;
			width: 750px;
		}

		.product-industrial {
			.product-image {
				h2 {
					top: 32px;
					left: 82px;
				}
			}
		}


		.product-residential {
			background-position: center center;
			background-size: cover;
			padding-top: 220px;

			.product-info-main {
				h2 {
					margin-bottom: 20px;
				}
			}

			.product-info-secondary {
				.info {
					margin-bottom: 50px;
				}
			}
		}

	}

}

// < 767
@media (max-width: 767px ) {

	.page-product {

		.product-intro {
			width: 90%;
		}

		.product-industrial {
			margin-top: 40px;

			.product-image {

				h2 {
					top: 290px;
					left: 40px;
				}
			}

			.product-info {
				position: relative;
				top: 0;
				padding-left: 0;
				margin-top: -290px;
				width: 100%;

				&-inner {
					padding: 30px 20px;

					p {
						margin-bottom: 15px;
					}
				}
			}
		}

		.product-commercial {
			margin-top: 40px;

			.product-info {
				top: 240px;
				left: 30px;
				right: 30px;

				&-inner {
					padding: 50px 30px 30px;

					p {
						margin-bottom: 15px;
					}
				}
			}
		}
	}

}