//
//Service page style
//
.page-services {
	position: relative;

	//Page header
	.page-header {
		span {
			&:after {
				right: -48px;
			}
		}
	}

	.ornament-left {
		position: absolute;
		top: 270px;
		left: 0;
		background: url("../images/public/ornamen-left.png") no-repeat;
		width: 318px;
		height: 637px;
		pointer-events: none;
	}

	.services-info {
		margin-left: 280px;
		margin-right: 120px;
		font-size: 30px;
		line-height: 48px;

		p {
			font-family: brandonlight, sans-serif;
			display: inline;
			color: #ffffff;
			background-color: #f16366;
			box-shadow: 0.5em 0 0 #f16366,-0.5em 0 0 #f16366;
			-webkit-box-decoration-break: clone;
	    -ms-box-decoration-break: clone;
	    -o-box-decoration-break: clone;
	    box-decoration-break: clone;
		}
	}

	.services-list {
		margin-top: 140px;

		.service-item {
			text-align: center;
			height: 154px;
			overflow: hidden;
			margin-bottom: 60px; 
			
			&:hover {
				.service-icon img {
					@include transform(rotateY(180deg));
				}

				h6 {
					color: #f16465;
				}
			}

			.service-icon img {
				display: block;
				margin: 0 auto;
				
				@include transition-duration(0.3s);
			}

			h6 {
				height: 40px;
				line-height: 20px;
				margin: 8px 0 12px;
				color: #363636;
				text-transform: uppercase;
				font-family: brandonlight;
				@include transition-duration(0.3s);
			}

			.service-arrows {
				position: relative;
				width: 100%;
				height: 22px;

				img {
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -10px;
				}
				.arrow-up {
					opacity: 0;
				}
			}

			.service-item-detail {
				padding-top: 15px;
			}
		}
	}
}


//Responsive
//

// < 991
@media (max-width: 991px ) {
	.page-services {
		.services-info {
			margin-left: 220px;
			margin-right: 30px;
		}
	}
}

// < 767
@media (max-width: 767px ) {
	.page-services {
		.services-info {
			margin-left: 30px;
			text-align: center;
		}
	}
}