@import "bourbon/bourbon";
/*================================================	
    Author     : Wian Khaerul Amri
    Document   : CSS
    Company    : PT Go Online Solusi - gositus.com
==================================================*/

@font-face {
    font-family: 'brandonbold';
    src: url('fonts/brandon_bld-webfont.woff2') format('woff2'), url('fonts/brandon_bld-webfont.woff') format('woff'), url('fonts/brandon_bld-webfont.ttf') format('truetype'), url('fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: bold;
    font-style: normal; 
}

@font-face {
    font-family: 'brandonlight';
    src: url('fonts/brandon_light-webfont.woff2') format('woff2'), url('fonts/brandon_light-webfont.woff') format('woff'), url('fonts/brandon_light-webfont.ttf') format('truetype'), url('fonts/brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'brandon';
    src: url('fonts/brandon_med-webfont.woff2') format('woff2'), url('fonts/brandon_med-webfont.woff') format('woff'), url('fonts/brandon_med-webfont.ttf') format('truetype'), url('fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{	
	margin: 0;
	padding: 0;
	
	@include box-sizing(border-box);
	outline-style: none;
}

body{	
	font-family: brandon;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;	
	color: #464646; 
	max-width: 100%;
}

button{
	cursor: pointer;
}

h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: normal;
}

a{
	outline-style: none;
	text-decoration: none;
	color: #464646;
}

p{
	line-height: 1.7;
}

input{
	outline-style: none;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right ;
}

.text-left{
	text-align: left;
}

.vertical-bottom{
	vertical-align: bottom !important;
}
.vertical-middle{
	vertical-align: middle !important;
}
.vertical-top{
	vertical-align: top !important;
}

.paddingnone{
	padding: 0 !important;
}

.marginauto{
	margin: 0 auto !important;	
}

.marginnone{
	margin: 0 !important;
}

.marginbottom-50{
	margin-bottom: 50px !important;
}
.marginbottom-40{
	margin-bottom: 40px !important;
}
.marginbottom-30{
	margin-bottom: 30px !important;
}
.marginbottom-20{
	margin-bottom: 20px !important;
}
.marginbottom-10{
	margin-bottom: 10px !important;
}
.marginbottom-0{
	margin-bottom: 0px !important;
}

.paddingbottom-50{
	padding-bottom: 50px !important;
}
.paddingbottom-40{
	padding-bottom: 40px !important;
}
.paddingbottom-30{
	padding-bottom: 30px !important;
}
.paddingbottom-20{
	padding-bottom: 20px !important;
}
.paddingbottom-10{
	padding-bottom: 10px !important;
}
.paddingbottom-5{
	padding-bottom: 5px !important;
}
.paddingbottom-0{
	padding-bottom: 0px !important;
}

.margintop-50{
	margin-top: 50px !important;
}
.margintop-40{
	margin-top: 40px !important;
}
.margintop-30{
	margin-top: 30px !important;
}
.margintop-20{
	margin-top: 20px !important;
}
.margintop-10{
	margin-top: 10px !important;
}
.margintop-5{
	margin-top: 5px !important;
}
.margintop-0{
	margin-top: 0px !important;
}

.paddingtop-50{
	padding-top: 50px !important;
}
.paddingtop-40{
	padding-top: 40px !important;
}
.paddingtop-30{
	padding-top: 30px !important;
}
.paddingtop-20{
	padding-top: 20px !important;
}
.paddingtop-10{
	padding-top: 10px !important;
}
.paddingtop-5{
	padding-top: 5px !important;
}
.paddingtop-0{
	padding-top: 0px !important;
}

.marginright-50{
	margin-right: 50px !important;
}
.marginright-40{
	margin-right: 40px !important;
}
.marginright-30{
	margin-right: 30px !important;
}
.marginright-20{
	margin-right: 20px !important;
}
.marginright-10{
	margin-right: 10px !important;
}
.marginright-0{
	margin-right: 0px !important;
}

.paddingright-50{
	padding-right: 50px !important;
}
.paddingright-40{
	padding-right: 40px !important;
}
.paddingright-30{
	padding-right: 30px !important;
}
.paddingright-20{
	padding-right: 20px !important;
}
.paddingright-10{
	padding-right: 10px !important;
}
.paddingright-5{
	padding-right: 5px !important;
}
.paddingright-0{
	padding-right: 0px !important;
}

.marginleft-50{
	margin-left: 50px !important;
}
.marginleft-40{
	margin-left: 40px !important;
}
.marginleft-30{
	margin-left: 30px !important;
}
.marginleft-20{
	margin-left: 20px !important;
}
.marginleft-10{
	margin-left: 10px !important;
}
.marginleft-0{
	margin-left: 0px !important;
}

.paddingleft-50{
	padding-left: 50px !important;
}
.paddingleft-40{
	padding-left: 40px !important;
}
.paddingleft-30{
	padding-left: 30px !important;
}
.paddingleft-20{
	padding-left: 20px !important;
}
.paddingleft-10{
	padding-left: 10px !important;
}
.paddingleft-5{
	padding-left: 5px !important;
}
.paddingleft-0{
	padding-left: 0px !important;
}

.width-100{
	width: 100px;
}

.width-150{
	width: 150px;
}

.width-200{
	width: 200px;
}
.width-300{
	width: 300px;
}
.width-400{
	width: 400px;
}
.width-500{
	width: 500px;
}
.width-600{
	width: 600px;
}
.width-700{
	width: 700px;
}
.width-800{
	width: 800px; 
}
.width-900{
	width: 900px;
}
.width-1000{
	width: 1000px;
}

.width-10p{
	width: 10% !important;
}
.width-20p{
	width: 20% !important;
}
.width-30p{
	width: 30% !important;
}
.width-40p{
	width: 40% !important;
}
.width-50p{
	width: 50% !important;
}
.width-60p{
	width: 60% !important;
}
.width-70p{
	width: 70% !important;
}
.width-80p{
	width: 80% !important;
}
.width-90p{
	width: 90% !important;
}
.width-100p{
	width: 100% !important;
}

.text-uppercase{
	text-transform: uppercase;
}

.font-bold{
	font-weight: bold;
}

.font-italic{
	font-style: italic;
}

.displayinline{
	display: inline-block;
}

.displayblock{
	display: block !important;
}

.displaynone{
	display: none;
}

.container-home{
	margin: 0 auto;
	position: relative;
	width: 1000px;  
	max-width: 1000px; 	
}

.row:after{
	content: "";
	display: table;
	clear: both;
}
 
.wrDef,
.wrItem{
	display: block;
	font-size: 0;
	
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5{
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
	}

	.col-1{
		width: 100%;	
	}
	.col-2{
		width: calc(100%/2);	
	}
	.col-3{
		width: calc(100%/3);	
	}
	.col-4{
		width: calc(100%/4);	
	}
	.col-5{
		width: calc(100%/5);	
	}
}

.btn-capitalize{
	text-transform: capitalize !important;
	font-family: brandonlight;
}

.btn-borderred{
	border: 1px solid #E55459 !important;
	color: #000000;
	font-family: brandonlight;
	text-transform: capitalize !important;
	
	&.btn{		
		&:after{
			background: #202527;
		}

		&:hover{
			border: 1px solid #202527 !important;
			color: #FFF;
		}
	}
}

.btn-trans{
	color: #E55459;
	
	&.btn{		
		&:after{
			background: #E55459;
		}

		&:hover{
			border: 2px solid #E55459;
			color: #FFF;
		}
	}

}

.btn-trans-white{
	color: #FFF;
	
	&.btn{		
		&:after{
			background: #E55459;
		}

		&:hover{
			border: 2px solid #E55459;
			color: #FFF;
		}
	}

}

.btn{
	display: inline-block;
	padding: 10px 20px;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	
	&:after{
		content: '';
	    position: absolute;
	    z-index: -1;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    transition: all 0.3s;
	}
}

.btn:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn:hover,
.btn:active {
	color: #0e83cd;
}

.btn:hover:after,
.btn:active:after {
	width: 100%;
}


.bgLoading{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../images/public/rolling.svg') no-repeat center center #E55459;
	z-index: 2000;
	
	.logoWait{
		background: url("../images/public/logo-white.png") no-repeat;
		position: absolute;
		top: -150px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 96px;
		height: 59px;
	}

	.percen{
		position: absolute;
		top: 125px;
		bottom: 0;
		right: 0;
		left: 0;
		width: 80px;
		text-align: center;
		height: 50px;
		font-family: brandonlight;
		font-size: 20px;
		color: #FFF;
		margin: auto;
	}
}


.menuFix{
	background: #E55459;
	position: fixed;
	top: -100px;
	width: 100%;
	left: 0;
	z-index: 900;
	padding: 8px 0;
	display: none;
	
	.wrHeader{
		.col-3{
			&:first-child,
			&:last-child{
				vertical-align: top;
				width: 40%;
			}

			&:first-child{
				text-align: left;
			}
			&:last-child{
				text-align: right;

				.menu{
					li{
						padding: 10px 16px 0 17px;
						
						&:first-child{
							padding-left: 0;
						}

						&:last-child{
							padding-right: 0;
							
							a{
								margin-right: 0;
							}
						}
					}
				}
			}

			&:nth-child(2){
				width: 20%;
			}
		}
	}

	.logo{
		display: block;
		img{
			max-width: 100%;
			width: 80px;
			display: block;
			margin: 0 auto;
		}
	}

	.menu{
		padding: 3px 0 10px;
		font-size: 0;
		position: relative;
		
		li{
			display: inline-block;
			padding: 10px 13px 0 12px;
			
			&:first-child{				
				padding-left: 0;				
			}

			&:last-child{				
				padding-right: 0;
				
				a{					
					margin-right: 0;				
				}
			}

			&:hover{
				a{
					&:after{
						opacity: 1;
						visibility: visible;
						@include transform(scale(1));
					}
				}
			}

			a{
				display: block;				
				color: #FFF;
				text-transform: uppercase;	
				margin: 0;			
				font-size: 14px;		
				position: relative;
				@include transition-duration(0.3s);
				
				&:after{
					content: "";
					position: absolute;
					background: url("../images/public/icon-menu-hv.png") repeat-x center center;
					width: 100%;
					height: 100%;
					bottom: -20px;
					left: 0;
					opacity: 0;
					visibility: hidden;
					@include transition-duration(0.3s);
					@include transform( scale(0.1));
				}  

				&:hover{
					color: #23282a;
				}		

				&.active{
					color: #23282a;		
					&:after{
						opacity: 1;
						visibility: visible;
						@include transform(scale(1));
					}			
				}
			}
		}
	}
}

header{
	position: absolute;
	width: 100%;
	top: 43px;
	left: 0;
	z-index: 1000;
	
	.wrHeader{
		.col-3{
			&:first-child,
			&:last-child{
				vertical-align: bottom;
				width: 40%;
			}

			&:first-child{
				text-align: left;
			}
			&:last-child{
				text-align: right;

				.menu{
					li{
						padding: 10px 16px 0 17px;
						
						&:first-child{
							padding-left: 0;
						}

						&:last-child{
							padding-right: 0;
							
							a{
								margin-right: 0;
							}
						}
					}
				}
			}

			&:nth-child(2){
				width: 20%;
			}
		}
	}

	.logo,
	.logoFix{
		display: block;
		img{
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	
	.menu{
		padding: 10px 0;
		font-size: 0;
		position: relative;
		bottom: -60px;
		
		li{
			display: inline-block;
			border-top: 2px solid #FFF;
			padding: 6px 13px 0 12px;
			
			&:first-child{
				padding-left: 0;
			}

			&:last-child{
				padding-right: 0;
				
				a{
					margin-right: 0;
				}
			}

			&:hover{
				a{
					&:after{
						opacity: 1;
						visibility: visible;
						@include transform(scale(1));
					}
				}
			}

			a{
				display: block;				
				color: #FFF;
				text-transform: uppercase;	
				margin: 0;			
				font-size: 14px;		
				position: relative;
				@include transition-duration(0.3s);
				
				&:after{
					content: "";
					position: absolute;
					background: url("../images/public/icon-menu-hv.png") repeat-x center center;
					width: 100%;
					height: 100%;
					bottom: -25px;
					left: 0;
					opacity: 0;
					visibility: hidden;
					@include transition-duration(0.3s);
					@include transform( scale(0.1));
				}  

				&:hover{
					color: #E45259;
				}		

				&.active{
					color: #E45259;
					&:after{
						opacity: 1;
						visibility: visible;
						@include transform(scale(1));
					}
				}
			}
		}
	}
}


.banner{
	position: relative;
	
	&.slick-slider{
		margin-bottom: 0;
	}

	.slick-list{
		overflow: hidden;
	}

	.itemBanner{
		display: inline-block;
		position: relative;
		
		.imgBanner{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		}
	}

	.titleBanner{
		position: absolute;
		width: 100%;
		top: 50%;
		z-index: 1100;
		text-align: center;
		@include transform(translateY(-50%));
		
		&:before{
			content: "";
			border: 1px solid #e55459;
			height: 30px;
			position: absolute;
			top: -106px;
			left: 50%;
			@include transform(translateX(-50%))
		}

		h1,h2,h3{
			color: #ED1C24;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 50px;
			opacity: 0.8;
		}
	}
}

.bg-one{
	position: relative;
	min-height: 400px;
	z-index: 100;
	
	// &:after{
	// 	content: "";
	// 	border: thin solid #FFF;
	// 	width: 950px;
	// 	height: 950px;
	// 	position: absolute;
	// 	top: 515px;
	// 	left: 50%;
	// 	z-index: 1;
	// 	@include transform(translateX(-50%) rotate(45deg));
	// }
}

.bg-one-deco {
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	z-index: 300;

	img {
		width: 100%;
	}
}


.bg-two{
	min-height: 400px;
	position: relative;
	// overflow: hidden;
	z-index: 200;
	margin-top: -45px;
	background: url("../images/public/bg/bg-2.png") no-repeat center center transparent;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	
	&:before{
		content: "";
		width: 1px;
		height: 170px;
		border-left: thin solid #FFF;
		position: absolute;
		top: -30px;
		left: 50%;
		@include transform(translateX(-50%));
	}

	/* &:after{
		content: "";
		border: thin solid #FFF;
		background: transparent;
		width: 950px;
		height: 950px;
		position: absolute;
		top: -243px;
		left: 50%;
		z-index: 1;
		pointer-events: none;
		@include transform(translateX(-50%) rotate(45deg));
	} */

	.glanceAbout{
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;	
		margin: 0 auto;	
		padding: 20px 0;
		z-index: 50;
		@include transform(translateY(-50%));
		
		.container{
			&:after{
				content: "";
				width: 1px;
				height: 50px;
				border-left: thin solid #FFF;
				position: absolute;
				bottom: -28px;
				left: 50%;
				@include transform(translateX(-50%));
			}
		}

		.ctGlanceAbout{
			padding: 0 100px;
			text-align: center;
			position: relative;
			margin: 0 0 70px;
			
			&:before{
				content: "";
				background: url("../images/public/icon-menu-hv.png") no-repeat;
				width: 70px;
				height: 14px;
				position: absolute;
				top: -20px;
				left: 50%;
				@include transform(translateX(-50%));
			}

			&:after{
				content: "";
				background: url("../images/public/icon-menu-hv.png") no-repeat;
				width: 70px;
				height: 14px;
				position: absolute;
				bottom: -30px;
				left: 50%;
				@include transform(translateX(-50%));
			}
			
			p{
				color: #FFF;
				font-size: 20px;
				text-decoration: underline;				
				font-family: brandonlight;
			}
		}
	}
}

/* .bg-deco-top {
	width: 950px;
	height: 950px;
	border: 1px solid #FFF;
	position: absolute;
	top: 400px; 
	left: 50%;
	line-height: 1;
	z-index: 300;
	pointer-events: none;
	@include transform(translateX(-50%) rotate(45deg));

	&:before{
		content: "";
		border: 1px solid #e55459;
		height: 30px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -1px;
		@include transform(translateX(-50%) rotate(45deg));
	}
	&:after{
		content: "";
		width: 1px;
		height: 200px;
		border-left: 1px solid #be4b4f;
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -1px;
		@include transform(translateX(-50%) rotate(45deg));
	}
} */


.bg-three{
	min-height: 400px;
	position: relative;
	z-index: 210;
	margin-top: -45px;
	background: url("../images/public/bg/bg-3.png") no-repeat center center transparent;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	

	&:before{
		content: "";
		width: 950px;
		height: 950px;
		border: thin solid #FFF;
		position: absolute;
		display: inline-block;
		top: -1083px; 
		left: 50%;
		line-height: 1;
		z-index: 1;
		pointer-events: none;
		@include transform(translateX(-50%) rotate(45deg));
	}

	.glanceCompetitive{
		position: relative;
		// top: 50%;
		//width: 1180px;
		left: 0;
		right: 0;	
		margin: 0 auto;	
		padding: 190px 0 100px;
		z-index: 50;
		// @include transform(translateY(-50%));
		
		&:before{
			content: "";
			width: 1px;
			height: 200px;
			border-left: 1px solid #be4b4f;
			position: absolute;
			left: 50%;
			top: -138px;
			@include transform(translateX(-50%));
		}


		.ctGlanceCompetitive{
			position: relative;
			text-align: center;
			padding: 0 100px;
			
			&:before{
				content: "";
				background: url("../images/public/icon-menu-hv.png") no-repeat;
				width: 70px;
				height: 14px;
				position: absolute;
				top: -20px;
				left: 50%;
				@include transform(translateX(-50%));
			}

			h1,h2,h3{
				font-weight: bold;
				font-size: 78px;
				color: #FFF;
				text-transform: uppercase;
			}

			.descCompetitive{
				margin: 10px 0 30px;
				p{
					color: #FFF;
					font-size: 20px;
					font-family: brandonlight;
				}
			}

			.listCompetitive{
				border: 2px solid #BE4B4F;
				display: table;
				
				.col-4{
					display: table-cell;
					background: #be4b4f;
					vertical-align: middle;
					padding: 20px;
					position: relative;
					overflow: hidden;
					
					&:before{
						content: "";
						background: #202527;
						width: 100%;
						height: 100%;
						position: absolute;
						top: -110%;
						left: 0;
						z-index: 5;
						@include transition-duration(0.3s);
					}

					&:nth-child(2n+2){
						background: transparent;

						&:before{
							content: "";
							background: #be4b4f;
							width: 100%;
							height: 100%;
							position: absolute;
							top: -110%;
							left: 0;
							z-index: 5;
							@include transition-duration(0.3s);
						}
						
						.itemList{
							h5,h6{
								color: #be4b4f;								
							}
						}
					}

					&:hover{
						&:before{
							top: 0;							
						}

						h5,h6{							
							color: #be4b4f;
						}

						&:nth-child(2n+2){
							&:before{
								top: 0;
							}
							
							h5,h6{							
								color: #202527;
							}
						}
					}

				}

				.itemList{
					
					h5,h6{
						font-weight: bold;
						color: #202527;
						text-transform: uppercase;
						position: relative;
						z-index: 10;
					}
				}
			}
		}
	}
}

.bg-four{
	min-height: 400px;
	position: relative;
	z-index: 220;
	margin-top: 0;
	// background: url("../images/public/bg/bg-4.png") no-repeat center center;
	// background: rgba(241, 100, 101, 0.6);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	

	.bg-triangle{
		position: absolute;
		z-index: 230;
		top: -49px;
		// left: 50%;		
		width: 100%; 
		height: 100%;
		pointer-events: none;
		background: url("../images/public/bg/bg-4.png") no-repeat center center;
		-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;	
		
		.container{
			width: 550px;
			padding: 80px 0 0;

			h1{
				color: #FFF;
				font-family: brandonlight;
				text-transform: uppercase;
				font-size: 78px;
				text-align: center;
			}

			.descProd{
				margin: 50px 0 0;
				text-align: center;
				padding: 0 120px;
				

				span{
					display: block;
					text-transform: uppercase;
					color: #a31f20;
					font-family: brandonbold;
					margin: 0 0 30px;
					padding: 0 0 20px;
					position: relative;
					font-size: 16px;
					
					&:after{
						content: "";
						width: 40px;
						border-bottom: 2px solid #FFF;
						position: absolute;
						left: 50%;
						bottom: 0;
						@include transform(translateX(-50%));
					}
				}


				p{
					color: #FFF;
					font-family: brandonlight;
					font-size: 20px;
				}
			}
		}	
	}

	.wrProduct{
		.itProd{
			&:nth-child(1){
				h1{					
					bottom: 100px;
				}
			}

			&:nth-child(2){
				img{
					margin: 0 0 0 auto;
				}
				h1{
					bottom: 100px;
					text-align: right;
					left: 55%;
				}
			}

			&:nth-child(3){
				h1{
					top: 100px;	
					text-align: left;				
				}
			}

			&:nth-child(4){
				img{
					margin: 0 0 0 auto;
				}
				h1{
					top: 100px;
					text-align: right;
					left: 55%;					
				}
			}
		}
		.itemProduct{
			position: relative;
			max-height: 376px;
			overflow: hidden;
			
			&:hover{				
				img{
					@include transform(scale(1.2));
				}
			}

			&:before{
				content: "";
				position: absolute;
				background: rgba(237,61,62,0.5);
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;	
				opacity: 1;
				visibility: visible;
			}

			img{
				// width: 100%;
				max-width: 100%;
				display: block;
				margin: 0 auto 0 0;
				@include transition-duration(0.8s);
			}

			h1{
				color: #FFF;
				text-transform: uppercase;
				font-weight: bold;
				position: absolute;
				left: 50%;
				width: 300px;
				@include transform(translateX(-50%));
			}
		}
	}
	
}

.bg-five{
	min-height: 400px;
	position: relative;
	z-index: 240;
	margin-top: -77px;
	background: url("../images/public/bg/bg-5.png") no-repeat center center transparent;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	

	&:before{
		content: "";
		background: url("../images/public/bg/bg-ornamen.png") no-repeat center center transparent;
		width: 100%;
		height: 231px;
		position: absolute;
		top: -90px;
		left: 50%;
		pointer-events: none;
		@include transform(translateX(-50%));
	}

	.glanceService{
		position: relative;
		// top: 50%;
		//width: 1180px;
		left: 0; 
		right: 0;	
		margin: 0 auto;	
		padding: 150px 0;
		z-index: 50;
		// @include transform(translateY(-50%));
		
		h1{
			font-size: 78px;
			text-transform: uppercase;
			font-family: brandonlight;
			color: #FFF;
			text-align: center;
		}

		.ctGlanceService{
			margin: 50px 0 0;
			position: relative;
			
			&:after{
				content: "";
				position: absolute;
				bottom: -145px; 
				left: 50%;
				margin-left: -2px;
				height: 100px;
				border-left: 2px solid #FFF;	
				@include transform(translateX(-50%));
			}

			.col-5{
				padding: 0 20px;				
				margin: 0 0 35px;
				&:nth-child(1n+1){
					width: calc(100%/4);
				}

				&:nth-child(1n+5){
					width: calc(100%/5);
				}
			}

			.itemService{
				text-align: center;
				
				&:hover{
					img{
						@include transform(rotateY(180deg));
					}

					h5,h6{
						color: #f16465;
					}
				}

				img{
					display: block;
					margin: 0 auto;
					
					@include transition-duration(0.3s);
				}

				h5,h6{
					margin: 8px 0 0;
					color: #FFF;
					text-transform: uppercase;
					font-family: brandonlight;
					@include transition-duration(0.3s);
				}
			}
		}
	}
}

.bg-six{
	min-height: 400px;
	position: relative;
	z-index: 240;
	margin-top: -70px;
	background: url("../images/public/bg/bg-6.png") no-repeat center center transparent;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	
	&:before{
		content: "";
		position: absolute;
		top: 22px; 
		left: 50%;
		margin-left: -2px;
		height: 120px;
		border-left: 2px solid #e55459;	
		@include transform(translateX(-50%));
	}
	
	.glanceNews{
		position: relative;
		// top: 50%;
		//width: 1180px;
		left: 0;
		right: 0;	
		margin: 0 auto;	
		padding: 150px 0 160px;
		z-index: 50;
		// @include transform(translateY(-50%));
		
		&:after{
			content: "";
			background: url("../images/public/icon-menu-hv2.png") no-repeat;
			width: 70px;
			height: 14px;
			position: absolute;
			bottom: 65px;
			left: 50%;
			margin-left: -1px;
			@include transform(translateX(-48%));
		}

		h1{
			font-size: 78px;
			text-transform: uppercase;
			font-family: brandonlight;
			color: #252525;
			text-align: center;
		}

		.ctGlanceNews{
			padding: 0 50px;
			position: relative;
			
			&:after{
				content: "";
				position: absolute;
				bottom: -80px; 
				left: 50%;
				height: 80px;
 				border-left: 2px solid #c2c2c2;	
				@include transform(translateX(-50%));
			}
		}

		.popularNews{
			padding: 0 0 30px;
			border-bottom: 2px dashed #ACACAC;
			margin: 50px 0 20px;
			a{
				&:hover{
					.covPopDesc{						
						h2,h3{
							color: #23282A;
						}
					}

					.covPopImg{
						&:before{
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
			.wrItem{
				display: table;
				width: 100%;
				.col-2{
					display: table-cell;
					width: 40%;
					
					&:last-child{
						width: 60%;
						padding-left: 30px;
					}
				}

				.covPopImg{
					position: relative;
					overflow: hidden;
					
					&:before{
						content: "";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: rgba(0,0,0,0.5);
						opacity: 0;
						visibility: hidden;
						@include transition-duration(0.3s);
					}

					img{
						width: 100%;
						max-width: 100%;
					}
				}

				.covPopDesc{
					h2,h3{
						color: #E55459;
						@include transition-duration(0.3s);
					}

					span{
						margin: 15px 0 20px;
						display: block;
						color: #A5A3A3;
						font-size: 17px;
					}

					p{
						font-size: 15px;
					}
				}
			}
		}

		.listPopNews{
			margin: 50px 0 80px;
			.wrItem{
				.col-4{
					padding: 0 10px;
					
					&:first-child{
						padding-left: 0;
						padding-right: 20px;
					}					

					&:last-child{
						padding-right: 0;
						padding-left: 20px;
					}
				}

				a{
					&:hover{
						h5{
							color: #23282A;
						}
					}
				}

				.itemListPopNews{
					h5{
						font-size: 22px;
						line-height: 26px;
						font-family: brandonbold;
						color: #E55459;
						@include transition-duration(0.3s);
					}

					span{
						font-size: 14px;
						display: block;
						color: #A5A3A3;
						margin: 10px 0;
					}

					.itemListDesc{
						p{
							color: #464646;
							font-size: 16px;
							font-family: brandonlight;
						}
					}
				}
			}
		}
	}
}

.bg-seven{
	min-height: 400px;
	position: relative;
	z-index: 240;
	margin-top: -50px;
	background: url("../images/public/bg/bg-7.png") no-repeat center center transparent;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	
	&:before{
		content: "";
		position: absolute;
		top: 55px; 
		left: 50%;
		margin-left: -1px;
		height: 80px;
		border-left: 2px solid #e4393f;	
		@include transform(translateX(-50%));
	}


	.glancePartners{
		position: relative;		
		//width: 1180px;
		left: 0;
		right: 0;	
		margin: 0 auto;	
		padding: 160px 0 80px;
		z-index: 50;
	
		h1{
			font-size: 50px;
			text-transform: uppercase;
			font-family: brandonlight;
			color: #e55459;
			text-align: center;
		}

		.descPartners{
			margin: 15px 0 0;
			padding: 0 150px;
			text-align: center;
			p{
				color: #e55459;
				font-size: 18px;
				font-family: brandonlight;
			}
		}

		.listPartners{
			margin: 50px 0 30px;
			
			.col-4{
				margin: 0 0 30px;
				.itemPartners{
					position: relative;
					display: block;
					
					img{
						max-width: 100%;
						display: block;
						margin: 0 auto;
					}
				}
			}
		}

	}
	
	.ornamen-left{
		position: absolute;
		top: -266px;
		left: 0;
		background: url('../images/public/ornamen-left.png') no-repeat;
		width: 318px;
		height: 637px;
		pointer-events: none;
	}

	.ornamen-right{
		position: absolute;
		top: -266px;
		right: 0;
		background: url('../images/public/ornamen-right.png') no-repeat;
		width: 318px;
		height: 637px;
		pointer-events: none;
	}
}


.bg-eight{
	min-height: 400px;
	position: relative;
	z-index: 240;
	margin-top: -45px;
	background: url("../images/public/bg/bg-8.png") no-repeat center top transparent;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	
	&:before{
		content: "";
		position: absolute;
		top: 0; 
		left: 50%;
		margin-left: -1px;
		height: 80px;
		border-left: 2px solid #FFF;	
		@include transform(translateX(-50%));
	}


	.glanceContact{
		position: relative;		
		//width: 1180px;
		left: 0;
		right: 0;	
		margin: 0 auto;	
		padding: 160px 0 50px;
		z-index: 50;
		
		h1{
			font-size:40px;
			text-transform: uppercase;
			font-weight: bold;
			color: #FFF;
			text-align: center;
		}

		.ctContact{
			margin: 30px 0;
			
			.infoContact{
				display: table;
				width: 100%;
				margin: 0 0 30px;
				
				.col-2{
					display: table-cell;
					width: 50%;
					border-right: 1px dashed #FFF;
					
					&:first-child{
						padding-right: 80px;
						text-align: right;
					}

					&:last-child{
						padding-left: 80px;
						text-align: left;
						border-right: 0;
					}
				}

				.itemInfo{
					color: #FFF;
					font-weight: bold;
					
					p,a{
						font-family: brandonlight;
						font-size: 22px;
						color: #FFF;
					}
				}
			}

			.tagContact{
				text-align: center;
				margin: 0 0 80px;
				position: relative;
				
				&:after{
					content: "";
					position: absolute;
					bottom: -80px; 
					left: 50%;
					height: 50px;
					border-left: 2px solid #FFF;	
					@include transform(translateX(-50%));
				}

				p{
					color: #FFF;
					font-family: brandonlight;
					font-size: 26px;
				}
			}
		}
	}
}

footer{
	position: relative;
	z-index: 250;
	left: 0;
	width: 100%;
	background: url("../images/public/bg/bg-footer.png") no-repeat center top transparent;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	
	


	.glanceFooter{
		position: relative;
		//width: 1180px;
		left: 0;
		right: 0;	
		margin: -50px auto 0;
		padding: 75px 0 20px;
		z-index: 50;
		//background: red;
	}

	.menuFooter{
		.col-3{
			&:first-child{
				width: 42.5%;
				text-align: left;
			}

			&:last-child{
				width: 42.5%;
				text-align: right;
			}

			&:nth-child(2){
				width: 15%;
			}
		}

		.logoFooter{
			img{
				max-width: 100%;
				display: block;
				margin: 0 auto;
			}
		}

		ul{
			margin: 10px 0 20px;
			li{
				display: inline-block;
				
				&:first-child{
					a{
						padding-left: 0;
					}
				}

				a{
					text-transform: uppercase;
					color: #707070;
					font-family: brandonbold;
					padding: 10px 20px;
					
					@include transition-duration(0.3s);
					
					&:hover{
						color: #e55459;
					}

					&.active{
						color: #e55459;
					}
				}
			}
		}
	}

	

	.copyright{
		font-size: 17px;
		font-family: brandonlight;
		color: #707070;
	}

	.tos{
		display: block;
		.itemTos{
			display: inline-block;
			position: relative;
			vertical-align: top;
			border-right: thin solid #b2b2b2;

			&:last-child{
				border-right: 0;
			}

			a{
				display: block;
				padding: 0 20px;
				color: #707070;
				font-size: 15px;
				font-family: brandonlight;
				
				@include transition-duration(0.3s);
				
				&:hover{
					color: #e55459;
				}

				&.active{
					color: #363636;
					font-weight: bold;
				}
			}
		}
	}

}

//Responsive
//
//Header

// < 1199
@media (max-width: 1199px ) {

	header {
		.logo {
			margin-top: -30px;
		}
	}
	.banner {
		.titleBanner{
			&:before {
				display: none;
			}
		}
	}
	.bg-three {
		&:before {
			display: none
		}

		.glanceCompetitive{
			&:before{
				display: none;
			}
		}
	}
}

// < 768
@media (max-width: 768px ) {

	.banner {
		.titleBanner {
			h1, h2, h3 {
				font-size: 46px;
			}
		}
	}

	.bg-two {
		.glanceAbout {
			.ctGlanceAbout {
				padding: 0;
			}
		}
	}

	.bg-three {
		margin-top: -80px;

		.glanceCompetitive {
			.ctGlanceCompetitive {
				padding: 0 30px;

				h1, h2, h3 {
					font-size: 56px;
				}

				.listCompetitive {
					display: block;

					.col-4 {
						display: block;
						width: 100%;
						float: none;
					}
				}
			}
		}
	}


	.bg-four{
		.bg-triangle{
			position: static;
			pointer-events: none;
			background-image: none;
			background-color: #f16465;
			min-height: auto!important;
			
			.container{
				width: 100%;
				padding: 30px;

				h1 {
					font-size: 56px;
				}

				.row {
					margin: 0;
				}
				.descProd{
					padding: 0;
				}	
			}	
		}

		.wrProduct {
			.itemProduct {
				h1 {
					left: 10px!important;
					bottom: auto!important;
					top: 10px!important;
					text-align: left!important;
					@include transform(translateX(0));
				}
			}
		}
	}

	.bg-five {
		.glanceService {
			h1 {
				font-size: 56px;
			}

			.ctGlanceService {
				.col-5 {
					width: calc(100%/3)!important;
				}
			}
		}
	}

	.bg-six {
		.glanceNews {
			h1 {
				font-size: 56px;
			}

			.listPopNews {
				.wrItem {
					.col-4 {
						width: 50%!important;
						padding: 0 15px!important;
						margin-bottom: 35px;
					}
				}
			}
		}
	}

	.bg-seven {
		.glancePartners {
			padding-bottom: 120px;

			.descPartners {
				padding: 0 30px;
			}
		}
	}

	.bg-eight {
		margin-top: -72px;

		.glanceContact {
			padding-left: 30px;
			padding-right: 30px;

			.ctContact {
				.infoContact {
					display: block;

					.col-2 {
						display: block;
						float: none!important;
						width: 100%!important;
						padding: 0!important;
						border-right: 0!important;
						text-align: center!important;

						&:first-child {
							border-bottom: 1px dashed #ffffff;
							padding-bottom: 20px!important;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}

}

// < 480
@media (max-width: 480px ) {

	.banner {
		.titleBanner {
			h1, h2, h3 {
				font-size: 36px;
			}
		}
	}

	.bg-three {
		.glanceCompetitive {
			.ctGlanceCompetitive {
				h1, h2, h3 {
					font-size: 42px;
				}
			}
		}
	}


	.bg-four{
		.bg-triangle{
			.container{
				h1 {
					font-size: 42px;
				}
			}	
		}
		.wrProduct {
			.col-2 {
				width: 100%;
				display: block;
			}
		}
	}

	.bg-five {
		.glanceService {
			h1 {
				font-size: 42px;
			}

			.ctGlanceService {
				.col-5 {
					width: calc(100%/2)!important;
				}
			}
		}
	}

	.bg-six {
		.glanceNews {
			h1 {
				font-size: 42px;
			}

			.popularNews {
				.wrItem {
					display: block;

					.col-2 {
						display: block;
						width: 100%!important;
						padding: 0!important;

						&:first-child {
							margin-bottom: 15px;
						}
					}
				}
			}

			.listPopNews {
				.wrItem {
					.col-4 {
						width: 100%!important;
					}
				}
			}
		}
	}

	.bg-seven {
		.glancePartners {
			h1 {
				font-size: 42px;
			}
		}
	}
}

@import "grid"; 
@import "page"; 